@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}


/*header*/
header {
  position: relative;
}

header .inner {
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: space-between;
}
header .inner .logo {
  background: rgb(37, 37, 37);
  padding: 15px;
  margin-right: 150px;
}

header .inner .logo a {
  color: #fff;
  letter-spacing: 1px;
  font-size: 20px;
}
header .inner .logo i {
  margin-right: 15px;
  font-size: 30px;
}

header .inner nav {
  display: flex;
}

header .inner nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #fff;
}

header .inner nav ul li {
  padding-right: 40px;
  font-weight: 500;
}

header .inner nav ul li:last-child{
  padding-right: 0px;
}

header .inner nav ul li a {
  color: #000;
}

header .inner nav ul li a::after {
  display: block;
  content: "";
  border-bottom: solid 3px #000;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

header .inner nav ul li a:hover:after {
  transform: scaleX(1);
}
header .inner nav ul li a.fromRight:after {
  transform-origin: 100% 50%;
}
header .inner nav ul li a.fromLeft:after {
  transform-origin: 0% 50%;
}

header .inner .right_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .inner .search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

header .inner .search input {
  width: 150px;
  height: 30px;
  padding: 10px;
}

header .inner .search a {
  margin-left: 10px;
  font-size: 20px;
  color: #000;
}

header .inner .time {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(184, 157, 108);
}

header .inner .time a {
  color: #fff;
  font-size: 18px;
  padding-left: 8px;
}


/*header 끝*/


/*이미지 슬라이드r*/

.imgslide {
  position: relative;
  overflow: hidden;
  padding:0;
}

.imgslide .inner {
  width: 100%;
  height: 100%;
}

.imgslide .inner img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  cursor: pointer;
}

.slick-dots {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 50px !important;
  display: flex !important;
  justify-content: center !important;
}


.slick-dots li{
    width: 20px;
    height: 4px !important;
    background-color: #aaa;
    margin:0 6px;
    transition: 0.4s;
}

.slick-dots li button:before{
    display: none;
}

.slick-active{
    background-color: rgb(255, 255, 255) !important; 
    width: 40px;
}

.slick-arrow{
    position: absolute !important;
    top:40% !important;
    transform: translate(-50%) !important;
    font-size: 50px !important;
    color:#fff !important;
    display: flex !important;
    align-items: center !important;
    padding:70px 20px !important;
    font-size: 50px !important; 
    cursor: pointer !important;

}

.slick-arrow:hover{
    color:rgb(184, 184, 184) !important;
    transition: 0.5s;
}
.slick-prev{
    left:5% !important;
}

.slick-next{
    right:5% !important;
}

.slick-next::before {
    content: "" !important;
}
.slick-prev::before {
    content: "" !important;
}


/*이미지 슬라이드 끝*/



section{
  padding:30px 200px;
}


/*about*/

.banner{
  position: relative;
}
.inner{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.banner .inner .box{
  width: 50%;
  margin-left: 20px;
}
.banner .inner .box img{
  width: 100%;
  height: 300px;
}

.banner .inner .box h1{
  font-size: 30px;
  font-family: 'Roboto Serif', sans-serif;
  line-height: 40px;
  margin-bottom: 10px;
}

.box p{
  text-align:start;
  margin-bottom:20px;
  font-size: 15px;
}

.box .btn{
  width: 140px;
  height: 40px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0px 2px 10px #aaa;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 15px;
  justify-content: center;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  padding:10px
}

.box .btn i{
  font-size: 20px;
  color:rgb(150, 150, 150);
}

.box .btn:hover{
  background: rgb(201, 173, 122);
  color:#fff;
  transition: 0.5s;
}

.box .btn:hover i{
  color:#fff;
  transition: 0.5s;
}

/*about 끝*/



/*카테고리*/

.packages{
  position: relative;
  margin-top:20px
}

.packages .inner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.packages .inner h1{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 5px;

}

.packages .inner p{
  margin-bottom: 30px;

}

.packages .inner .text{
  width: 800px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
}

.packages .inner .category{
  position: relative;
  display: flex;
  height: 30vh;
  margin-bottom: 10px;
}

.packages .inner .category .box{
  position: relative;
  background: #000;
  flex-wrap: wrap;
  width: 100%;

  


}
.packages .inner .category .box img{
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.packages .inner .category .box  h1{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
}

.packages .inner .category .box:hover img{
  opacity: 1;
  transition: 0.5s;
}

/*카테고리 끝*/

/*패키지 박스*/


.contact{
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
  

}
 

.contact h1{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.contact .box{
  display: flex;
  justify-content: center;
  justify-content: space-between;

}

.contact .box .boxImg{
  width:100%;
}

.contact .box .boxImg img{
  width: 100%;
  margin-right: 20px;
}

.product_text{
  background-color: #fff;
  position: relative;
  padding:10px;
  width: 100%;
  margin-left: 40px;
  max-width: 500px;

}

.product_text .title{
  display: flex;
  justify-content: space-between;
}
.product_text h3{
  font-size: 18px;
  text-transform: uppercase;
  color:rgb(168, 141, 92);
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: bold;
}

.product_text p{
  line-height: 20px;

}

.product_text .box-border{
  width: 40px;
  height: 8px;
  background-color:rgb(168, 141, 92);
  margin-bottom: 30px;
}

.product_text .date{
  display: flex;
  margin-top: 20px;
  border-bottom: 1px  solid #aaa;
  justify-content: end;
  
}

.product_text .date h3{
  font-size: 14px;
  font-weight: normal;
}

.product_text .date span{
  font-size: 14px;
  font-weight: normal;
  color:#000;
}

.btnbox{
  display: flex;
  margin-top: 30px;
  justify-content: end;
}

.btnbox .btn{
  border-radius: 0;
  box-shadow: 0 0 0;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
}

.btnbox .btn:last-child{
  border-left: 1px solid #aaa;
}

/*패키지 박스 끝*/


/*푸터*/

footer {
  background: rgb(175, 175, 175);
}

footer .inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .inner h1 {
  padding-top: 20px;
  color: #fff;
  letter-spacing: 2px;
}

footer .inner p {
  font-size: 0.8em;
  color:#fff; 
}
footer .inner .footer-icon {
  margin: 20px 40px;  
}
footer .inner .footer-icon i {
  margin-left: 20px;
  font-size: 20px;
  color:#fff;
}

footer .inner .footer-icon i:hover {
  transform: scale(1.3);
  transition: 0.5s;
}



